$theme-colors: (
    "empty": #225A98,
    "dark": #000000,
    "light": #B3D0EF,
    "primary": #FFC46B,
    "secondary": #E99C25,
    "card": #2b2b2d,
    "menu": #1b1f47,
    "section-title": #B3D0EF,
    "intro": #FFC46B,
    "background": #5d5f62,
);

.header-style {
    display: flex;
    flex-direction: row;
    justify-content: "flex-end";
}

.social-media-box {
    display: flex;
    flex-direction: row;
    justify-content: "flex-end";

}

.social-media-list {
    display: flex;
    flex-direction: row;
}

.title-names {
    color: #E99C25
}

.page-container {
    min-height: 100vh;
    max-width: 100vw;
}

.linkText {
    color: white;
}

.sticky-nav {
    position: sticky;
    top: 0;
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: "flex-center";
    text-align: center;
    color: #B3D0EF;
}

#experience-type {
    font-size: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: "flex-center";
}

#experience-type-span {
    padding: 3%;
    text-align: center;
}

.tech-stack-item-caption {
    color: #B3D0EF
}

@import "../node_modules/bootstrap/scss/bootstrap";